.statusActive {
  color: #28c76f;
  background-color: rgba(40, 199, 111, 0.12);
}
.statusDisabled {
  color: #ea5455;
  background-color: rgba(234, 84, 85, 0.12);
}
.status {
  padding: 3px 0;
  width: 80px;
  text-align: center;
  cursor: pointer;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
}
