.statusActive {
  color: #28c76f;
  background-color: rgba(40, 199, 111, 0.12);
}
.statusDisabled {
  color: #ea5455;
  background-color: rgba(234, 84, 85, 0.12);
}
.status {
  padding: 3px 0;
  width: 70px;
  text-align: center;
  cursor: pointer;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
}
.deleteButton {
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #941717;
  --button-secondary-color-light: #fc3b3b;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #e51e1e;
}
