.wrapper {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}
.btnContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.deleteButton {
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #941717;
  --button-secondary-color-light: #fc3b3b;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #e51e1e;
}

.statusActive {
  color: #28c76f;
  background-color: rgba(40, 199, 111, 0.12);
}
.statusDisabled {
  color: #ea5455;
  background-color: rgba(234, 84, 85, 0.12);
}
.status {
  display: inline-block;
  padding: 3px 0;
  width: 80px;
  text-align: center;
  cursor: pointer;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
}
.checkBox {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  label,
  input {
    cursor: pointer;
  }
}

.searchWrapper {
  width: 350px;
  max-width: 100%;
  margin: 20px 0;
  padding-right: 10px;
  label {
    font-size: 20px !important;
    color: #666;
  }
}
