.menuBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.fileWrapper {
  margin: 30px 0;
  label {
    text-decoration: underline;
    cursor: pointer;
  }
  span {
    margin-right: 20px;
  }
}
.menu {
  position: relative;
}
.imagePreview {
  position: absolute;
  bottom: 20px;
  left: 20px;
  img {
    object-fit: cover;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 120px;
  }
}

.searchWrapper {
  width: 350px;
  max-width: 100%;
  margin: 20px 0;
  padding-right: 10px;
  label {
    font-size: 20px !important;
    color: #666;
  }
}
