@use "../variables.scss" as *;

.img {
  width: 50%;
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(226, 226, 226);
  }
}
.text {
  width: 50%;
  .title {
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
  }
  .price {
    color: rgba(32, 129, 32, 0.863);
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
  }
  .greenMessage {
    background-color: rgba(95, 228, 95, 0.575);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .btns {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    .addToCart {
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      padding: 5px 20px;
      background-color: #a46497;
      background-image: none;
      transition: 0.3s;
      &:hover {
        background-color: #8d5582;
        transform: none;
      }
    }
    input {
      width: 100px;
      font-size: 20px;
      text-align: center;
    }
  }
  .info {
    margin: 5px 0;
    font-weight: 600;
    span {
      font-weight: normal;
      margin-right: 10px;
    }
  }
}

.tabWrapper {
  position: relative;
  .tab {
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px 0;
    width: 140px;
    text-align: center;
    display: block;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    cursor: pointer;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #ccc;
  }
  &::before {
    left: 0;
    width: calc(100% - 160px);
  }
  &::after {
    width: 20px;
    right: 0;
  }
}

.additionInfoTitle {
  font-weight: bold;
  margin: 20px 0;
}

.additionInfoWrapper {
  border: 1px solid #b9b9b9;
  border-top: none;
  border-bottom: none;
  margin-bottom: 50px;
  .row {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: 1px solid hsla(0, 0%, 50.2%, 0.5);
    span {
      padding: 10px;
    }
    .key {
      font-weight: bold;
      border-left: 1px solid #b9b9b9;
    }
  }
  .row:nth-child(odd) {
    background-color: hsla(0, 0%, 50.2%, 0.07);
    &:hover {
      background-color: hsla(0, 0%, 50.2%, 0.1);
    }
  }
}

@include tablet {
  .text {
    width: 100%;
    .title {
      font-size: 25px;
    }
  }
  .img {
    width: 100%;
  }
}
