@use "../../styles/variables.scss" as *;

.navigationBarWrapper {
  position: relative;
  padding-left: 25px;
  flex-grow: 1;
}

.bar {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  a,
  button {
    color: $black;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    display: block;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: right;

    &.active {
      color: $green;
      background-color: rgb(212, 212, 212);
    }
  }
}

@include laptop {
  .bar {
    padding: 0;
  }
}
