@use "../../styles/variables.scss" as *;
.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleMenu {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  width: 30px;
  text-align: center;
}

.logo {
  img {
    aspect-ratio: 3 / 1;
    max-height: 40px;
    object-fit: cover;
  }
}

.searchBook {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid $green;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  color: $green;
  &:hover {
    color: #fff !important;
    background-color: $green;
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  background-color: #eee;
  padding: 10px;
  list-style: none;
  gap: 10px;
  a {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #fff;
    &:hover {
      background-color: rgb(241, 241, 241);
    }
  }
  &.active {
    transform: scale(1);
  }
}

@include tablet {
  .searchBook {
    font-size: 12px;
    padding: 5px;
    gap: 0;
  }
  .logo {
    img {
      width: 100px;
      height: auto;
    }
  }
}
