@use "../../styles/variables.scss" as *;

.box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.number {
  font-size: 50px;
  font-weight: bold;
  color: $pink;
}
.title {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
