.inputControl {
  &.error {
    label {
      color: red;
    }
    input {
      border-color: red !important;
    }
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    &::placeholder {
      font-size: 14px;
    }
  }
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  .helperText {
    color: red;
  }
}

.select {
  grid-column: span 2;
  z-index: 50;
}
