@import "variables.scss";

@mixin authBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  margin-top: 10px;
  svg,
  img {
    width: 30px;
    height: 30px;
  }
  p {
    margin: 0;
    width: 240px;
  }
  @include mobile {
    svg,
    img {
      width: 20px;
      height: 20px;
    }
    p {
      font-size: 13px;
      width: 191px;
    }
  }
}

.formContainer {
  min-height: calc(100vh - 80px);
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    .heading {
      font-size: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      // gap: 20px;
      width: 450px;
      max-width: 100%;
      margin: 0 auto;

      .googleBtn {
        @include authBtn;
        border: 1px solid #ccc;
        color: #777;
        &:hover {
          background-color: #eee;
        }
      }
      > div {
        margin-top: 20px;
      }
      .githubBtn {
        @include authBtn;
        color: #fff;
        background-color: #222;
        border: none;

        &:hover {
          background-color: #333;
        }
      }
      .facebookBtn {
        @include authBtn;
        color: #fff;
        background-color: #1877f2;
        border: none;

        &:hover {
          background-color: #3788f1;
        }
      }
      .or {
        position: relative;
        margin: 20px 0 10px;
        span {
          color: #777;
          font-size: 20px;
          background-color: #fff;
          display: block;
          width: 30px;
          margin: 0 auto;
          text-align: center;
          text-transform: capitalize;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          background-color: #ccc;
          height: 1px;
          // transform: tra;
          z-index: -1;
        }
      }
      .submitBtn {
        margin-top: 30px;
        margin-bottom: 25px;
      }
      p {
        margin-top: 10px;
      }
    }
  }
}
