@use "variables.scss" as *;

.formContainer {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    .heading {
      font-size: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 450px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
