@use "./variables.scss" as *;
@import "../components/Button/Button.scss";
@import "index.scss";
@import "../components/Footer/Footer.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.text-primary {
  color: $green !important;
}
.text-secondary {
  color: $yellow !important;
}
.text-dark {
  color: $black !important;
}
.text-danger {
  color: $pink !important;
}

html {
  direction: rtl;
}

.font {
  font-family: inherit;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px !important;
  }
}

.title {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  color: $green;
  position: relative;
  margin-bottom: 30px;
  &.no-line {
    &::before {
      display: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: $yellow;
    border-radius: 10px;
  }
}
button,
a {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 1000px;
}

.aws-btn {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 2px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: 0.175s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-border: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
  &.active {
    opacity: 1;
    z-index: 20;
  }
}
