@use "./variables.scss" as *;
@import "../components/Button/Button.scss";
@import "index.scss";
@import "../components/Footer/Footer.scss";
@import "./find-product.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

.text-primary {
  color: $green !important;
}
.text-secondary {
  color: $yellow !important;
}
.text-dark {
  color: $black !important;
}
.text-danger {
  color: $pink !important;
}

html {
  direction: rtl;
}

.font {
  font-family: inherit;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px !important;
  }
}

.title {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  color: $green;
  position: relative;
  margin-bottom: 30px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: $yellow;
    border-radius: 10px;
  }
}
button,
a {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 1000px;
}
